@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
 
}

main {
    font-family: 'Segoe UI Symbol'
}

h2, h3 {
    font-family: 'Segoe UI Symbol';
    
}

section p {
    font-family: 'Segoe UI Symbol';
    
}

/*#region header logo and site name/slogan*/

#twitter{
    padding-left: 1em;
    padding-right: 1em;
}

.socialLinks {
    display: inline;
    float: right;
    padding-right: 40px;
    margin-top: 0px;
}

.socialLinks li{
    display:inline-block;
    
}

.socialLinks li a {
    color: white;
    font-size: 2em;
}

.socialLinksBottom {
    display: inline;
    float: right;
    padding-right: 40px;
    margin-top: .5em;
}

.socialLinksBottom li {
    display: inline-block;
}

.socialLinksBottom li a {
    color: white;
    font-size: 2em;
}


#siteTitle, #slogan {
    font-family: 'Quicksand', sans-serif;
}

#siteTitle {
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,1);
    margin-left: 1.5em;
    margin-bottom: 0;
    font-size: 70px;
}

#slogan {
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,1);
    margin-left: 6em;
    margin-top: 0;
    font-weight: bold;
    font-size: 20px;
}

#slogan{
    margin-bottom:3em;
}

header {
    background-image: url(/images/kelly-sikkema-V1VkOENg_KQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    padding: 2em;
    border: solid black 1px;
}

#headerOverlay {
    background-image: url('/images/Threads of Magic Logo.png');
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 3% center;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    margin-top:.5em;
}

/*#endregion*/

/*#region index page*/

#picture1{
width:100%;
}

#picture2{

}

#picture3{
    float:right;
}

.aboutUs h2, .aboutUs p{
    display:block;
    float:left;
}

#iLeftColumn{
    width:25%;
    float:left;
    padding-left:10em;

}

#iRightColumn{
    width:60%;
    float:right;
    padding-left:2em;
    padding-right:2em;

}

.clear{
    clear:both;
}

.iLeftColumn2{
    width:50%;
    float:left;
}

.iRightColumn2{
    width:50%;
    float:right;
}

/*#endregion*/

/* #region Nav*/

.currentPage {
    font-style:italic;
}

nav {
 
    background-color: rgba(0,0,0,.2);
    padding:.25em;
    border: 1px solid black;
    margin-bottom: 0.75em;
}

nav ul li {
    display: inline-block;
    color:black;
}



nav a:hover, nav a:active, nav a:focus {
        box-shadow: 0 0 5px rgba(0,0,0,.4);
        background-color: rgba(99, 54, 35, .4)
 }

nav ul li a {
    padding: .4em 1em;
    display: block;
    font-weight: bold;
    color: black;
}

a{
    text-decoration:none;
    
}
 /*#endregion */

/*#region Lessons Page*/


div.galleryItem {
    display: inline-block;
    width: 235px;
    border: 1px solid #000;
    margin: 5px;
    background-color: rgba(0,0,0,.2);
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    

    
}

    div.galleryItem img {
        width: 100%;
        height: auto;
    }

    div.galleryItem:hover {
        border: 1px solid darkgray;
        box-shadow: 0 0 5px rgba(0, 0, 0, 2);
        zoom: 105%;
    }


#classes {
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.descriptionTitle {
    font-family: 'Segoe UI Symbol';
    font-weight:bold;
   
}

.description {
    font-family: 'Segoe UI Symbol';
    font-weight: normal;
    padding: 1em;
    text-align: justify;
   
}
 /*#endregion*/


/*#region Team Page*/
    #departmentList {
    list-style: none
}


/*#endregion*/

/*#region Contact Page*/

.contactUs 
{
    text-align:center;
}
.contactInfo {
    border-bottom: black solid 1px;
    border-top: black solid 1px;
    display: block;
    margin: 20px 30%;
}
}
/*#endregion*/








